rules_version = '2';
service firebase.storage {
  function signedInActive() {
    return request.auth.uid != null && request.auth.token.email_verified && get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.active;
  }
  function isEditor() {
    return "editor" in get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.roles  && request.auth.token.email_verified
  }
  function isAdmin() {
    return "admin" in get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.roles && request.auth.token.email_verified
  }
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if isAdmin() || isEditor();
      allow write: if isAdmin();
    }
  }
}
